.profile-card{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.profile-counters{
    display: flex;
    justify-content: center;
}